h1 {
    color: brown;
}

/** {
    border: solid;
}*/
.header{
    background-color: lightblue;
    display:flex;
    justify-content: space-between;

}
.grid{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
}
.futter{
    display: flex;
    justify-content: flex-end;
}
p,h2{
    text-align: center;
}
body{
    background-color:#1414;
}
.siteDis{
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
}